.container {
  max-width: 300px;
  margin: 10vh auto;
  padding: 10px 20px;
  border: 1px solid lightslategray;
  border-radius: 8px;
  box-shadow: 0 2px 1px 1px lightslategrey;
}

.count {
  font-size: 28px;
  color: dimgrey;
}
