.VlistItem {
  padding: 5px 12px;
  cursor: pointer;
}

.VlistItem:hover {
  background: #e4e1f0;
}

.VListItem.activated {
  background-color: #fafafa;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
}
