/* Vlist style */
.VlistItem {
  padding: 5px 12px;
  cursor: pointer;
}

.VlistItem:hover {
  background: #e4e1f0;
}

.VListItemActivated {
  background-color: #fafafa;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
}

.VListItemActivated:hover {
  background-color: #fafafa;
}

.VListItemDisabled {
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.25);
  background: #fff;
  cursor: not-allowed;
}

/* Select */
.VSelectInput {
  padding: 0;
}

.VSelectInput:focus,
.VSelectInput:hover {
  border: 0;
  outline: 0;
  box-shadow: none;
}

.VSelectArrow {
  transition: transform .2s linear;
}

.VSelectOpen .VSelectArrow {
  transform: rotateZ(180deg);
}
